# Terraform state files
terraform.tfvars
terraform.tfstate
terraform.tfstate.*
.terraform/

# Python virtual environments
venv/
.env
scripts
plugins/

#
logs/
__pycache__/
*.pyc
*.pyo
*.pyd

dbt_project.yml
target/