# Terraform state files
terraform.tfvars
terraform.tfstate
terraform.tfstate.*
.terraform/

# Python virtual environments
venv/
.env
scripts
plugins/

#
logs/
__pycache__/
*.pyc
*.pyo
*.pyd

target/
dbt_packages/
logs/
dbt/package-lock.yml
dbt/profiles.yml
.user.yml

echo "dbt/target/" >> .gitignore